<!DOCTYPE html>
html(lang='ja')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Welcome Page
    include ./_share/stylesheets
  body
    include ./_share/navbar
    .container
      .list-group
        .list-group-item.list-group-item-action.active 新着記事一覧
      .list-group
       each article in articles
         a(href=article.link).list-group-item.list-group-item-action.flex-column.align-items-start
           .d-flex.w-100.justify-content-between
             h5.mb-1=article.title
             small=article.createdAt
           small.mb-1=article.mediaName
      nav
        ul.pagination.justify-content-center.mt-3.pagination-lg
          - for (i = 1; i <= pagination.max; i++)
            if i !== pagination.current
              li.page-item
                a(href!=`/?page=${i}`).page-link #{i}
            else
              li.page-item.active
                a
                  span.page-link.disabled #{i}
    include ./_share/javascripts